<div class="row">
  <div class="col-xs-3" ng-repeat="post in posts track by $index">
    <div class="well">
      <h3 class="postTitle"><a ui-sref="singlePost({id:post.id,permalink:post.permalink})">{{post.title}}</a></h3>
      <h5>By: {{post.author}} | {{post.datePublished}}</h5>
    </div>
  </div>
</div>